/**************************************************************** UiMain Start ****************************************************************/
#sidebar {
    background-color: #DCDCDB;
    border: none;
}

#pages {
    background-color: #FFFFFF;
}
/***************************************************************** UiMain End *****************************************************************/
